<% arraySize = @usernames.length %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spicy Slice :: Admin Panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="author" content="Team23" />

        <!-- BOOTSTRAP CSS -->
        <link href="../style/bootstrap.min.css" rel="stylesheet">

        <!-- MAIN STYLES CSS -->
        <link href="../style/style.css" rel="stylesheet">

        <!-- References from online -->
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lato%7CRoboto+Slab" rel="stylesheet">

        <!-- FONT ICONS -->
        <link href="../style/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- CAROUSEL SLIDERS -->
        <link href="../style/owl.carousel.css" rel="stylesheet" type="text/css"/>


        <!-- POPUP -->
        <link href="../style/magnific-popup.css" rel="stylesheet" type="text/css"/>

        <!-- ANIMATE -->
        <link href="../style/animate.min.css" rel="stylesheet" type="text/css"/>

    </head>

    <body>
        <%= erb :"admin/header" %>

		<!-- Welcome to the panel -->
		<section id="admin-panel-welcome">
		            <div class="container text-center">
		                <div class="row">
		                    <div class="col-md-10 col-md-offset-1">
		                        <h2 class="space-40 solidBlock">Admin Panel</h2>
		                    </div>
		                </div>

		                    <!-- ITEM 1 -->
		                    <div class="item">
		                        <div class="user-desc">
		                            <h3>
		                               Welcome to the Admin panel, using this panel you will be able to access all orders, accept them, decline them and many other features using twitter. Everything on the panel itself!
		                            </h3>
		                        </div>
		                    </div>
		            </div>
		        </section>

        <!-- Order now information -->

        <section id="Tweet-order">
        		<div class="line">
        			<h2>Current Twitter Orders</h2>
        		</div>
        		<div class="row">
        			<div class="twitter-orders container col-md-offset-1" style="width=100%">
        			<table>
        		 		 <tr>
                            <th>Tweet No.</th>
        		    		<th>Twitter Username</th>
        		    		<th>Twitter message</th>
                            <th>Confirmation</th>
        		    		<th>Accept Order</th>
        		    		<th>Decline Order</th>
        		    		<th>Out of delivery range</th>
        		  		</tr>
        		 		 <tr>
                             <td>1</td>
        		   			 <td>Jill</td>
        		   			 <td>This is the order message and its about this long</td>
                             <td><form><input class="button-twitter-order" name="1" function="confirm" type="button" value="&#8634;" onclick="confirm()"/></form> </td>
        		    		 <td><form><input class="button-twitter-order" name="1" function="accept" type="button" value="&#10003;" onclick="accept()"/></form> </td>
        		    		 <td><form><input class="button-twitter-order" name="1" function="deny" type="button" value="&#10006;" onclick="decline()"/></form></td>
        		    		 <td><form><input class="button-twitter-order" name="1" function="delivery" type="button" value="&#128269" onclick="tooFar()"/></form> </td>
        		  		</tr>
        		  		<tr>
                             <td>2</td>
        		  			 <td>Eve</td>
        		   			 <td>Jackson</td>
                             <td><form><input class="button-twitter-order" name="1" function="confirm" type="button" value="&#8634;" onclick="confirm()"/></form> </td>
        		   			 <td><form><input class="button-twitter-order" name="2" function="accept" type="button" value="&#10003;" onclick="accept()"/></form> </td>
        		   			 <td><form><input class="button-twitter-order" name="2" function="deny" type="button" value="&#10006;" onclick="decline()"/></form></td>
        		   			 <td><form><input class="button-twitter-order" name="2" function="delivery" type="button" value="&#128269" onclick="tooFar()"/></form> </td>
        		  		</tr>

                        <% for i in 0...arraySize %>
                        <tr>
                            <td><%= i%></td>
                            <td><%= @usernames[i] %></td>
                            <td><%= @tweets_text[i] %></td>
                            <td><form method = "POST"><input class="button-twitter-order" name= "1"  check = "confirm" function= "confirm" type="submit" value="&#8634;" onclick="confirm()"/></form> </td>
                            <td><form method = "POST"><input class="button-twitter-order" name= "<%i%>-accept" function="accept" type="button" value="&#10003;" onclick="accept()"/></form> </td>
        		   			<td><form method = "POST"><input class="button-twitter-order" name="<%i%>-deny" function="deny" type="button" value="&#10006;" onclick="decline()"/></form></td>
        		   			<td><form method = "POST"><input class="button-twitter-order" name="<%i%>-delivery" type="button" function="delivery" value="&#128269" onclick="notFar()"/></form> </td>
                        </tr>
                        <% end %>

        			</table>
        		</div>
          </section>


          <%= erb :footer %>

        <!-- SCRIPTS -->
                <script src="../js/jquery-2.2.4.min.js" type="text/javascript"></script>
                <script src="../js/bootstrap.min.js" type="text/javascript"></script>
                <script src="../js/owl.carousel.min.js" type="text/javascript"></script>
                <script src="../js/jquery.magnific-popup.min.js" type="text/javascript"></script>
                <script src="../js/jquery.nav.js" type="text/javascript"></script>
                <script src="../js/jquery.validate.min.js" type="text/javascript"></script>
                <script src="../js/jquery.viewportchecker.min.js" type="text/javascript"></script>
                <script src="../js/jquery.countTo.js" type="text/javascript"></script>
                <script src="../https://maps.googleapis.com/maps/api/js?key=AIzaSyDeGtxbtJfB88Fgff3N_um_SjNBNAROskU" async defer></script>

                <!-- Loader script got help online -->
                <script src="../js/app.js" type="text/javascript"></script>
                <script>
                        // Create a marker and set its position.
                        var marker = new google.maps.Marker({
                            map: map,
                            position: myLatLng,
                            title: '',
                            icon: 'img/marker1.png',
                        });
                    }
                </script>
                <script>
                function notFar() {
                    alert("Delivery is possible to this user");
                }
                function tooFar() {
                    alert("This user is out of range");
                }
                function confirm() {
                    alert("A confirmation tweet was sent");
                    /* This code should send a tweet to the user when completed
                     * It's commented to prevent spam
                     * client.update('@bors_georgica please confirm your order')
                     */
                }
                function accept() {
                    alert("An acceptance tweet was sent");
                    /* This code should send a tweet to the user when completed
                     * It's commented to prevent spam
                     * client.update('@bors_georgica your order is confirmed')
                     */
                }
                function decline() {
                    alert("A decline tweet was sent");
                    /* This code should send a tweet to the user when completed
                     * It's commented to prevent spam
                     * client.update('@bors_georgica We're very sorry but we have to cancel the order')
                     */
                }
                </script>
           </body>
</html>
